:host {
  --background: #9e9e9e;
  --color: #ffffff;
  --close-font: 14px "Arial Black", sans-serif;
  --close-color: #c41a16;
  --close-symbol: '×';
  --slide-out: all 600ms cubic-bezier(.19, 1, .22, 1);
  --padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.toast {
  position: absolute;
  max-width: 250px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  color: var(--color);
  background-color: var(--background);
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.message {
  padding: 1rem  1.25rem .75rem;
}

.close span {
  content: var(--close-symbol);
  font: var(--close-font);
  position: absolute;
  top: 0;
  right: 3px;
  color: var(--close-color);
}

.close span:hover {
  cursor: pointer;
}

.slide-out {
  opacity: 0;
  transition: var(--slide-out);
}


