*::-webkit-scrollbar { width: 6px; }

*::-webkit-scrollbar-track {
  background-color: rgba(180, 180, 180, .3);
}

*::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: rgba(188, 188, 188, .6);
}

.autocomplete {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: #777777;
  border: 0;
}

.autocomplete,
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.02em;
}

form {
  margin: 30px 0;
  padding: 20px 10px;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

input {
  width: 100%;
  max-width: 600px;
  border-radius: 0 !important;
  outline: 0;
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  max-height: 254px;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-top: 0;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  cursor: default;
}

.option {
  font-size: 1.02em;
  line-height: 23px;
  position: relative;
  padding: 0 .6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333333;
}

.option b {
  font-weight: normal;
  color: #1f8dd6;
}

.option.selected {
  background: #f0f0f0;
}

.option[selected] {
  background: #f0f0f0;
}

.option:hover {
  cursor: pointer;
}
