input {
  height: 30px;
  min-width: 0;
  display: flex;
  align-self: flex-end;
  flex: 1 0 50px;
  padding: 0 6px;
  border: none;
  outline: none;
}

input::placeholder {
  line-height: 1;
  margin-bottom: .2em;
  padding: .25em .25em;
  color: var(--neutralTertiary);
}
