@import url(../common.css);

:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  color: var(--black);
  border: thin solid gainsboro;
  --selected-background-color: #0275D8;
}

::slotted(x-tab) {
  margin: 0 .09em;
  padding: 10px 20px;
  background-color: rgb(243, 242, 241);
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: transparent;
}

::slotted(x-tab:focus) {
  outline: -webkit-focus-ring-color auto 2px;
  outline-offset: -2px;
}

::slotted(x-tab:hover) {
  background: rgb(237, 235, 233);
}

::slotted([selected]) {
  background-color: var(--selected-background-color);
}

::slotted(x-panel) {
  flex-basis: 100%;
  padding: 30px;
}
