@import url(../common.css);

::slotted {
  --selected-background-color: #0275D8;
}

:host {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  color: var(--black);
  border: thin solid gainsboro;
}

::slotted(x-tab) {
  margin: 0 .09em;
  padding: 10px 20px;
  background-color: #EFEFEF;
  cursor: pointer;
}

::slotted(x-tab:focus) {
  outline: 1px solid #5F8BF8;
}

::slotted(x-tab:hover) {
  opacity: .9;
}

::slotted([selected]) {
  color: white;
  background-color: var(--selected-background-color);
  box-shadow: none;
}

::slotted(x-panel) {
  flex-basis: 100%;
  padding: 30px;
}
