button {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  position: relative;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #000000;
  outline: 0;
  cursor: pointer;
}

button:active {
  box-shadow: 0 2px 6px 0 #000000;
}

.blue {
  color: #ffffff;
  background-color: #2196f3;
}

.ripple {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ripple span {
  position: absolute;
  opacity: .75;
  background-color: #ffffff;
  border-radius: 100%;
  transform: scale(0);
  animation: ripple-effect 1000ms;
}

@-moz-keyframes ripple-effect {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-webkit-keyframes ripple-effect {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@-o-keyframes ripple-effect {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple-effect {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
