:host {
  --checked-color: #888888;
  outline: none;
}

:host(:focus) {
  outline: none;
}

.control {
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 1rem;
  outline: none;
}

.control-indicator {
  position: absolute;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  background: #DDDDDD center center no-repeat;
  background-size: 50% 50%;
}

.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-input:checked ~ .control-indicator {
  color: #FFFFFF;
  background-color: var(--checked-color);
}

.control-input:focus ~ .control-indicator {
  box-shadow: 0 0 0 1px #FFFFFF, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.control-input:active ~ .control-indicator {
  color: #FFFFFF;
  background-color: #B3D7FF;
}

.control-input:disabled ~ .control-indicator {
  cursor: not-allowed;
  background-color: #ECEEEF;
}

.control-input:disabled ~ .label {
  color: #9CA3A9;
}

.radio .control-indicator {
  border-radius: 50%;
}

.radio .control-input:checked ~ .control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}
