@import url(../common.css);

:host {
  position: relative;
  display: inline-block;
  width: 20em;
  color: var(--black);
  cursor: pointer;
}

.container {
  padding: .2em .2em 0 .2em;
  overflow: hidden;
  background-color:var(--white);
  border: 1px solid var(--neutralSecondary);
  border-radius: var(--border-radius);
  outline: none;
  user-select: none;
}

.placeholder {
  line-height: 1;
  margin-bottom: .2em;
  padding: .25em .5em;
  color: var(--neutralTertiary);
}

.tag {
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0 .2em .2em 0;
  padding: .25em 1.5em .25em .5em;
  background-color: var(--neutralSecondary);
  border-radius: var(--border-radius);
  vertical-align: middle;
}

.tag:last-child {
  margin-right: 0;
}

.tag:hover {
  background: var(--neutralSecondaryAlt);
}

.tag-text {
  min-height: 1em;
  margin: 0 8px 1px 8px;
}

.tag-remove-button {
  position: absolute;
  top: .3em;
  right: .25em;
  width: 1em;
  height: 1em;
  opacity: .3;
}

.tag-remove-button:hover {
  opacity: 1;
}

.tag-remove-button::before,
.tag-remove-button::after {
  content: ' ';
  position: absolute;
  left: .5em;
  width: 1px;
  height: 1em;
  background-color: var(--neutralDarker);
}

.tag-remove-button::before {
  transform: rotate(45deg);
}

.tag-remove-button::after {
  transform: rotate(-45deg);
}

.dropdown {
  position: absolute;
  width: 99%;
  max-height: 300px;
  margin-top: 1px;
  overflow-y: auto;
  background-color: var(--white);
  border: 1px solid var(--neutralLight);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.options {
  margin: 0;
  padding: 0;
}

::slotted(li) {
  min-height: .75em;
  padding: .5em 1em;
  cursor: pointer;
  list-style: none;
}

::slotted(li:hover) {
  background-color: var(--neutralLighter);
}


::slotted(li:focus) {
  background-color: var(--neutralLight);
  /*outline: 1px solid var(--neutralDark);*/
  /*outline-offset: -1px;*/
  outline:none;
}

