*::-webkit-scrollbar { width: 6px; }

*::-webkit-scrollbar-track { background-color: #ADADAD; }

*::-webkit-scrollbar-thumb {
  background-color: rgba(180, 180, 180, 0.3);
  width: 6px;
}

.select {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  font-family: Arial, sans-serif;
  width: 20em;
}

.box {
  padding: .2em .2em 0 .2em;
  overflow: hidden;
  border: 1px solid #ADADAD;
  border-radius: .2em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.box > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: .25rem .5rem;
}

.x_icon {
  margin-right: 6px;
  opacity: .8;
  display: none;
  stroke: #888888;
  stroke-width: 2px;
}

.x_icon:hover {
  opacity: .7;
  stroke: #C41A16;
}

.arrow_icon {
  fill: #444444;
}

.arrow_icon:hover {
  fill: #D2D2D2;
}

.placeholder {
  color: #888888;
}

.selected {
  color: #444444;
}

.placeholder, .selected {
  margin-right: auto;
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  display: none;
  width: 100%;
  max-height: 310px;
  overflow-y: auto;
  background: white;
  border: 1px solid #BDBDBD;
  border-radius: .2em;
  z-index: 1000;
}

.options {
  padding: 0;
  margin: 0;
}

::slotted(li) {
  padding: .5em 1em;
  min-height: 1em;
  list-style: none;
  cursor: pointer;
}

::slotted(li:focus) {
  outline: dotted 1px #333333;
  background: #E9E9E9;
}

::slotted(li[disabled]) {
  pointer-events: none;
}
