@import url(../common.css);

:host {
  position: relative;
  display: inline-block;
  width: 20em;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

.container {
  padding: .2em .2em 0 .2em;
  overflow: hidden;
  border: 1px solid var(--neutralSecondary);
  border-radius: var(--border-radius);
  outline: none;
  user-select: none;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: .25rem .5rem;
}

.x_icon {
  margin-right: 6px;
  opacity: .8;
  stroke: var(--neutralTertiary);
  stroke-width: 2px;
}

.x_icon:hover {
  opacity: .7;
  stroke: #C41A16;
}

.arrow_icon {
  fill: var(--black);
}

.arrow_icon:hover {
  fill: var(--neutralSecondary);
}

.placeholder {
  color: var(--neutralTertiary);
}

.selected {
  color: var(--black);
}

.placeholder,
.selected {
  margin-right: auto;
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  width: 99%;
  max-height: 300px;
  margin-top: 1px;
  overflow-y: auto;
  background-color: var(--white);
  border: 1px solid var(--neutralLight);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.options {
  margin: 0;
  padding: 0;
}

::slotted(li) {
  min-height: .75em;
  padding: .5em 1em;
  cursor: pointer;
  list-style: none;
}

::slotted(li:hover) {
  background-color: var(--neutralLighter);
}

::slotted(li:focus) {
  background-color: var(--neutralLight);
  outline: none;
  /*outline-offset: -1px;*/
}

