::slotted {
  --checked-color: #888888;
}

.stacked {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.stacked .control {
  margin-bottom: .25rem;
}

.stacked .control + .control {
  margin-left: 0;
}
