.container {
  font-family: 'Lato', sans-serif;
  width: 250px;
  margin: 3px;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.container:hover {
  background-color: whitesmoke;
}

.header {
  font-size: 18px;
}

.header-subtext {
  font-size: 14px;
  margin-top: .25rem;
  margin-bottom: 1rem;
  color: #5f5e5e;
}

.hidden-content {
  display: none;
}

.content {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  color: #5f5e5e;
}

.content-header {
  font-weight: normal;
  color: black;
}

.show {
  font-weight: bold;
  padding: 6px;
  color: white;
  background-color: dodgerblue;
  border: none;
  outline: none;
  cursor: pointer;
}
