.container {
  padding: 8px;
}

button {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  width: 100%;
  height: 40px;
  display: block;
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #363636;
  background: #ffffff;
  border: 1px solid #a1a1a1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 8px 0 rgba(161, 161, 161, .4);
  outline: none;
  cursor: pointer;
}

